nav {
  background-color:black
  padding 5px;
}

nav ul{
  text-align: center;
  font-size: 1.2em;
}
nav ul li {
  list-style-type: none;
  background-color: white ; 
  display: inline;
  padding: 15px;
  margin:5px;
  border:2px solid white ; 
  border-radius:10px
}
nav ul li a {

  color: black; 
  text-decoration: none;
}
nav ul li:hover
{background-color: darkgrey;}

header{
  background-color: red ;
  padding : 10px

}
footer {
  padding: 0;
  margin: 0;
  position:fixed;
  bottom: 0px;
  width: 100%;
  background-color: black;
}
footer p {
  text-align:center;
  color : white;
}
table{
  width:100%;
  border: 2px solid black;
  border-collapse: collapse;
  font-size: 20px;
  margin:20px;
  padding:2%;
}
th,td,tr {
  border: 2px solid black;
  text-align: left;
}
body{
  font-family: Verdana;
}
#active {
  border:2px solid black

}
.productHistory {
  text-align: center;
  border: 5px solid black;
  margin: 10px;
  padding-right: 15px;
  padding-left: 15px;
}